@{
    ViewData["Title"] = "Home Page";
}
<div class="card">
    <div class="card-header text-lg-center">Libreria: Administrador</div>
    <div class="card-body d-flex justify-content-center">
        <img class="flex-column justify-content-center align-items-center" src="~/Librería Etsy Tienda Ícono.png" />
    </div>
    <div class="card-footer d-flex justify-content-center gap-2">
        <a asp-action="GuardarForm" asp-controller="CRUD" class="btn btn-primary btn-success">Agregar Libro</a>
        <a asp-action="Listar" asp-controller="CRUD" class="btn btn-primary">Ver Libros</a>
    </div>
</div>